{% extends "musicBlog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1>About </h1>      
            <hr>
          <div class="article-metadata">
            <h3>The Vintage Pitch<sup>©</sup></h3>
            <p> 
                I am a music lover and wanted to create a website where I could post my thoughts on English
                music from the 1920's through the 1980's and share it with the world. Building The Vintage Pitch<sup>©</sup> 
                from scratch gave me a wonderful opportunity to learn more about the Django web framework while also 
                sharing my views on vintage music. Now you could too, and I hope you enjoy the site! 
            </p>
            <hr>
            <h3>The Developer</h3>
            <p> 
                Hi! My name is Yutika and I am a Data Scientist. Being completely new to web development, I
                decided to build this website from scratch using the Django web framework. The inspiration
                for this website was <b>Corey Schafer's</b> Amazing<a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">
                Django Tutorial</a> playlist. Highly recommend it to anyone who is interested in learning Django. Feel free to 
                check out my profiles under the "Developer Profiles" section on the right-hand side and reach out :) .
            </p>
        </div>
        </div>
      </article>
{% endblock content%}
